ble_app_uart/hex/
ble_app_uart/pca10056/s140/ses/Output/ble_app_uart_pca10056_s140 Debug/Obj/app_button.d
ble_app_uart/pca10056/s140/ses/ble_app_uart_pca10056_s140_Debug.jlink
ble_app_uart/pca10056/s140/ses/ble_app_uart_pca10056_s140_Release.jlink
ble_app_uart/pca10056/s140/ses/Output/
ble_app_uart_c/pca10056/s140/ses/Output/
ble_app_uart_c/pca10056/s140/ses/ble_app_uart_c_pca10056_s140_Release.jlink
ble_app_uart/pca10040/s132/arm5_no_packs/JLinkLog.txt
ble_app_uart/pca10040/s132/arm5_no_packs/JLinkSettings.ini
ble_app_uart/pca10040/s132/arm5_no_packs/_build/
ble_app_uart/pca10040/s132/arm5_no_packs/EventRecorderStub.scvd
ble_app_uart/pca10040/s132/arm5_no_packs/ble_app_uart_pca10040_s132.uvguix.hapr
ble_app_uart/pca10040/s132/arm5_no_packs/RTE/
